<app-default-login-layout
  title="Faça login e comece hoje mesmo!"
  primaryBtnText="Inscreva-se"
  secondaryBtnText="Login"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!signupForm.valid"
>
  <form [formGroup]="signupForm">
    <app-primary-input
      formControlName="name"
      inputName="name"
      type="text"
      label="Seu nome"
      placeholder=""
    >
      <span class="material-symbols-outlined"> id_card </span>
    </app-primary-input>
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder=""
    >
      <span class="material-symbols-outlined"> mail </span>
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Sua Senha"
    >
      <span class="material-symbols-outlined"> lock </span>
    </app-primary-input>
    <app-primary-input
      formControlName="passwordConfirm"
      inputName="passwordConfirm"
      type="password"
      label="Confirme Sua Senha"
    >
      <span class="material-symbols-outlined"> lock </span>
    </app-primary-input>
  </form>
</app-default-login-layout>
